<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список транзакций</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Список транзакций</h1>
    <a href="{% url 'transaction_create' %}" class="btn">Добавить транзакцию</a>
    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Статус</th>
                <th>Тип</th>
                <th>Категория</th>
                <th>Подкатегория</th>
                <th>Сумма</th>
                <th>Комментарий</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.status.name }}</td>
                    <td>{{ transaction.type.name }}</td>
                    <td>{{ transaction.category.name }}</td>
                    <td>{{ transaction.subcategory.name }}</td>
                    <td>{{ transaction.amount }} руб.</td>
                    <td>{{ transaction.comment }}</td>
                    <td>
                        <a href="{% url 'transaction_update' transaction.pk %}" class="btn">Редактировать</a>
                        <a href="{% url 'transaction_delete' transaction.pk %}" class="btn-delete">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
